/* stili generali pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* stili mobile first */

/* stili sezione header */
header {
    height: 100px;
    background-color: #0084fd;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    
}

.menu-burger i {
    color: white;
    font-size: 30px;
}

/* stili menu */
.menu {
    display: none;
}

.menu a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.menu button {
    border-radius: 50px;
    background-color: white;
    padding: 10px 10px;
    color: black;
}

/* stili sezione main */

/* stili demo-item */
.container {
    width: 100%;
    padding: 50px 50px 100px;
}

#demo {
    text-align: left;
    padding-bottom: 0;
}

#demo img {
    width: 100%;  
    margin-top: 30px; 
    
}

.button a {
    border-radius: 50px;
    background-color: #0084fd;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
}

#apple {
    font-size: 20px;
    color: white;
}

.item {
    background-color: #b5ddff;
    border-radius: 30px;
    padding: 30px 30px 0;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;

}

.item h2 {
    color: #0084fd;
    padding-bottom: 30px;
}

.item i {
    font-size: 100px;
    margin-bottom: 30px;
    color: #0084fd;
}

.item p {
    color: #657b8f;
    padding-bottom: 30px;
}

/* stili strategic */
.viola {
    background-color:  #9792e4;
}

.planning {
    color: white;
    margin-bottom: 100px;
}

.planning h1 {
    font-size: 40px;
    padding-bottom: 50px;
}


.planning img {
    width: 100%;
    padding-bottom: 100px;
} 

/* div app */
.app {
    background-color: white;
    border-radius: 50px;
    padding: 30px 30px 0;
    padding-bottom: 30px;
    text-align: center;
    height: max-content;
}

.app img{
    width: 100%;
} 

.app h2 {
    padding: 20px 0;
}

.app p {
    font-style: italic;
    font-size: 20px;
    padding-bottom: 40px;
}

.app a {
    font-size: 30px;
    background-color: #9792e4;
    border-radius: 100px;
    padding: 10px;
}

/* stili testimonial */
.testimonials {
    text-align: center;
}

.testimonials span, .testimonials p {
    font-size: 20px;
    padding: 50px 0;
}

.testimonials h1 {
    font-size: 35px;
    color: #9792e4;
    padding-top: 30px;
}

.content-card {
    padding: 20px;
}

.card {
    background-color:  #9792e4;
    margin-bottom: 30px;
    border-radius: 50px;
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 40px 40px 0;
}

.img-testimonial {
    width: 200px;
    height: 200px;
}

.card p {
    color: white;
    padding: 20px 0 30px 0;
    font-size: 20px;
}


.card span {
    color: white;
    font-size: 20px;
    font-weight: bold; 
}

/* stili benefits */
.benefit-section {
    text-align: center;
}

.viola h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 70px;
}

.benefits {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 30px;
    text-align: left;
    padding: 30px;
}

.benefits span {
    font-size: 50px;
    color:  #9792e4;
}

.benefits h2 {
    font-size: 25px;
    color:  #9792e4;
    padding: 30px 0;
}

.benefits p {
    margin-bottom: 30px;
}

.violet {
    border-radius: 50px;
    background-color: #9792e4;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    margin: 30px 0;
}

/* struttura info */
.info-content h1 {
    color: #9792e4;
    font-size: 50px;
    margin-bottom: 50px;
}

.info-content p {
    margin-bottom: 50px;
    font-size: 20px;
}

.img-info {
    width: 200px;
    height: 200px;
}

.img-info img {
    width: 100%;
}

.linkedin h2 {
    color: #9792e4;
    font-size: 30px;
    margin: 20px 0;
}

.linkedin a {
    border-radius: 50px;
    background-color: #9792e4;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    margin: 30px 0;
}

/* stili get started */
.get-started {
    text-align: center;
    color: white;
    width: 100%;
}

.get-started h2 {
    font-size: 30px;
    margin-top: 30px;
}

.get-started h1 {
    color: hsl(37.2, 97.5%, 68.2%);
    font-size: 50px;
    margin: 30px 0;
}

.get-started p {
    margin-bottom: 30px;

}
.get-started button{
    border-radius: 50px;
    background-color: white;
    padding: 20px 80px;
    text-decoration: none;
    color: #9792e4;
    font-size: 18px;
    margin-bottom: 30px;
}

.get-started span:first-child {
    font-size: 20px;
    filter: opacity(0.5);
    
}

.get-started span:last-child {
    color: white;
    font-size: 14px;

}

.get-started a {
    color: white;
}

/* stili footer */
.nero {
    background-color: #333;
    color: white;
    font-size: 15px;
    text-align: center;
}



.nero p:first-child {
    margin-bottom: 50px;
}

.nero a {
    color: #7470a7;
}



/* versione tablet */


@media all and (min-width: 481px){
   
   /* stili demo-item */
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    #demo {
        width: calc(((100% / 3)*2) - 20px);   
    }

    .item {
        width: calc((100% / 3) - 20px);
        margin-right: 20px;   
    } 
    
    /* stili testimonials */
    .card {
        display: flex;
        text-align: left;
        align-items: center;
    }

    /* stili benefits */
    .benefit-section {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits {
        width: calc((100% / 2) - 20px);
        margin-right: 20px;
    }

    /* stili info-main */
    .info-main {
        display: flex;
    }

    .info-content {
        width: 60%;
        margin-right: 40px;
    }

    .linkedin {
        width: 40%;
    }
}




/* versione desktop */


@media all and (min-width: 768px) {

    header {
        width: 100%;
        margin: 0 auto;
        padding: 0 200px;  
    }

    .menu-burger {
        display: none;
    }

    .menu {
        display: block;
    }
    
    /* sezione primo container */
    .container {
        padding: 50px 200px 100px;
    }

    #demo {
        display: flex;
    }

    /* sezione strategic */
    .strategic {
        display: flex;
        justify-content:;
        align-items: flex-end;
    }

    .app {
        margin-left: 50px;
    }

    /* stili benefits */
    .benefits {
        width: calc((100% / 3) - 20px); 
    }
}


